
td {
    float: left;
    width: 25%;
    position: relative;
}

img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

#clean::after {
    content: "";
    display: table;
    clear: both;
}

.h3White {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
    padding: 5px 5px;
    background: #4aaaa5;
    width: 200px;
    
    position: absolute;
    bottom: 0%;
}